/* Global Layout Set-up */
* { 
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: myFirstFont;
    src: url(../fonts/Raleway-Thin.ttf)
  }
  
  @font-face { 
    font-family: newFont; 
    src: url(../fonts-two/cute.ttf)
  } 
  
  @font-face {
    font-family: lightCalibre;
    src: url(../Calibre/light.otf)
  }
  @font-face {
    font-family: boldCalibre;
    src: url(../Calibre/league.ttf)
  }
  
  body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #00374D;
  }
  
  footer {
    width: 100%;
    min-height: 30px;
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
  
  footer .copyright {
    top: -8px;
    margin-right: 20px;
    font-size: .75em;
  }
  
  footer ul {
    list-style-type: none;
    margin: 10px;
    padding-top: 400px;
  }
  
  footer ul li {
    display: inline-block;
  }
  
  a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .5;
    transition: all .25s;
  
  }
  a.linkedin {
    background-image: url(../images/linkedin.svg);
  }
  a.github {
    background-image: url(../images/github.svg);
  }
  a.social:hover {
    opacity: 1;
  }
  .clearfix {
    clear: both;
  }
  
  /* Styles for larger screens */
  @media screen and (min-width: 720px) {
    
  .flex {
    display: flex;
    max-width: 1200px;
    justify-content: space-around;
    margin: 0 auto;
  }
  
  header {
    min-height: 10px;
    line-height: 1cm;
  }
  
  .nav {
    max-width: 1200px;
  }
  
  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }
  
  main {
    padding-top: 200px;
  }
  }
  
  h2 {
    letter-spacing: .20px
  }
  
  
  @viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
  
  
  *{
    padding: 1px; border: 1px; margin: 1px; 
    box-sizing: border-box;
    list-style-type: none; /* Styled in normalize.css */
    text-decoration: none;
    color: #00adb5;
  }
  
  .wrapper{
    display: flex;
      flex-direction: column;
      height: 70vh;
      margin: 0 auto;
      max-width: 1550px;
      padding-top: .5rem;
  
   
  }
  .main-header a{
      letter-spacing: .18rem;
      text-transform: uppercase;
      font-size: 70px;
  }
  
  
  .masthead{
    /* Both of these are needed to keep the #menu-toggle visible when nav list is active / open. */
    position: relative;
 
    top: 0;
    left: 0;
    
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  .masthead h1{
      transition-delay: 450ms;
  }
  
  .masthead h2{
    transition-delay: 450ms;
  }
  .menu-toggle{
      cursor: pointer;
      width: 55px;
      z-index: 3;
      position: inherit;
      float: right;
  }
  
  .menu-toggle div{
      background-color: #6D8C99;
      border-radius: 25px;
      box-shadow: 0px 3px 13px rgba(0,0,0,.08);
      height: 7px;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(.13,.24,.35,1.64);
  }


  .menu-toggle .one,
  .menu-toggle .two{
      margin-bottom: 7px;
      margin-top: 8px;
  }

 
  .main-contents{  
      padding: 1px;
      margin: 1px;
      border: 1px;
  }
  
  .main-contents p{
            color: #393e46;
            transition-delay: 150ms;
       transition-duration: 850ms;
  }
  .main-contents h1{
    font-size: 60px;
  }
  .main-contents h2{
      letter-spacing: 1.5px;
   
      text-transform: uppercase;
  }
  
  /************* Style and animate the nav overlay ***********************/
  .main-nav-list::before,
  .main-nav-list::after{
      content:"";
      position: absolute;
      top: 0;
      height: 100vh;
      width: 0vw;
      transition: all 100ms ease-in-out 300ms;
  }
  
  .main-nav-list ul{
      position: absolute;
      top: -30%;
      left: 50%;
      transform: translate(-50%,-50%);
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;
      z-index: 2000;
  }
  
  .main-nav-list a{
      display: block;
      font-size: 2rem;
      letter-spacing: 3px;
      
      opacity: 0;
      text-align: center;
      text-transform: uppercase;
      transition-delay: 130ms;
  }
  
  .main-nav-list .mobile-hide{/** Hide the link when viewing site on mobile devices. **/
      display: none;
  }
  
  /************* Style the nav elements when active. ***********************/
  
  
  .menu-toggle.active .one{
      box-shadow: 0px 3px 13px rgba(0,0,0,.4);
      transform: translate(0, 14px) rotate(45deg);
  }
  
  .menu-toggle.active .two{
      background-color: transparent;
      box-shadow: none;
      transform: translateX(-55px);
  }
  
  .menu-toggle.active .three{
      box-shadow: 0px 3px 13px rgba(0,0,0,.4);
      transform: translate(0,-14px) rotate(-45deg);
  }
  
  .main-nav-list.active::before,
  .main-nav-list.active::after{
      width: 25vw;
      transition-duration: 100ms;
  }
  .main-nav-list.active ul{
      top: 50%;
      transform: translate(-50%,-50%);
      transition-delay: 560ms;
      transition-duration: 240ms;
      transition-timing-function: cubic-bezier(.1, .2, .3, 1.4);
     
  }
  span {
    position: relative;
    display: block;
    cursor: pointer;
  }
  
  span:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
  }
  
  span:before {
    left: -2.5px;
  }
  span:after {
    right: 2.5px;
    background: #393e46;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  span:hover:before {
    background: #393e46;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }
  
  
  .main-nav-list.active a{
      transition-delay: 600ms;
      opacity: 1;
      font-family: lightCalibre, light;
  }
  
  body {
    margin: 0;
      padding: 0;
      overflow: hidden;
  }
  
  h1:hover:before,
  h1:hover:after {
      width: 100vw;
      height: 100vh;
      opacity: 1;
  }
  .icons :hover{
    position: relative;
    width: 100%;
    z-index: 2;
    color: #fff;
    transition: all 0.25s;
    cursor: pointer;
  }
  
  
  .language-icons :hover{
    position: relative;
    top: -5px;
  }
  .main-contents {
    height: 100%;
    flex: auto;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    padding-right: 50px;
  }
  
  